{%extends "blog/base.html"%}
{%block content%}
    <h3> About Us </h3>
    <p> My blogging application is designed to motivate and unite people by promoting courage, even-mindedness, and positive dialogue. It stands out from other web applications by focusing on purpose-driven, uplifting content that fosters empathy, inclusivity, and constructive conversations. Unlike typical platforms, it actively encourages respect, support, and community-building, creating a space for diverse voices to connect and share empowering stories. </p>

{%endblock content%}